/*Base Structure*/
.wm-mega-menu-plugin {
  --mega-menu-max-width: 700px;
  --mega-menu-max-height: 90svh;

  --trigger-icon-size: 15px;
  --trigger-icon-gap: 4px;

  --mega-menu-border-width: 0px;
  --mega-menu-border-color: transparent;
  --mega-menu-border-radius: 0px; 

  --background-overlay-opacity: 50%;
  --background-overlay-hsl: 0, 0%, 0%;
  --background-overlay-color: hsla(var(--background-overlay-hsl), var(--background-overlay-opacity));
  --background-overlay-blur: 10px;

  --mega-menu-arrow-color: var(--navigationLinkColor);
}

.wm-mega-menu {
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0;
  z-index: var(--z-index);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  pointer-events: none;
}

.wm-mega-menu.open {
  opacity: 1;
  visibility: visible;
}
.wm-mega-menu[data-layout="inset"] {
  padding-top: var(--header-bottom);
  display: flex;
  z-index: 9;
}

/*Wrapper*/
.wm-mega-menu .mega-menu-wrapper {
  position: relative;
  background-color: var(--siteBackgroundColor);
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 1px;
  height: var(--active-menu-height);
  max-height: var(--mega-menu-max-height);
  width: 100%;
  border: var(--mega-menu-border-width) solid var(--mega-menu-border-color);
  border-bottom: var(--mega-menu-bottom-border-width, var(--mega-menu-border-width)) solid var(--mega-menu-bottom-border-color, var(--mega-menu-border-color));
  pointer-events: auto;
  box-sizing: border-box;
}
.wm-mega-menu[data-layout="inset"] .mega-menu-wrapper {
  width: 100%;
  border-radius: var(--mega-menu-border-radius);
  max-height: calc(var(--mega-menu-max-height) - var(--header-bottom));
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, max-width 0.3s ease;
}
.wm-mega-menu[data-layout="full-width"] .mega-menu-wrapper {
  border-radius: 0 0 var(--mega-menu-border-radius) var(--mega-menu-border-radius);
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, max-width 0.3s ease;
}

.wm-mega-menu.open .mega-menu-wrapper {
  opacity: 1;
  z-index: var(--z-index);
}

/*Absolute*/
.wm-mega-menu .mega-menu-absolute {
  position: absolute;
  display: flex;
  height: var(--active-menu-height);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wm-mega-menu-plugin[data-layout="full-width"].wm-mega-menu--open #header {
  background-color: transparent;
}
.wm-mega-menu[data-layout="full-width"] .mega-menu-wrapper {
  width: 100% !important;
}


.mega-menu-item {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  align-self: flex-start;
  overflow-y: auto;
  height: var(--active-menu-height, 0px);
  max-height: var(--mega-menu-max-height);
}
.header-menu-nav-folder .mega-menu-item {
  overflow-y: hidden;
  height: unset;
  min-height: var(--active-menu-height, 0px);
  max-height: unset;
}
.header-menu-nav-folder .mega-menu-item .page-section:first-child {
  padding-top: 0px !important;
}

.mega-menu-item {
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease, height 0.3s ease;
}
.header-menu .mega-menu-item {
  opacity: 1;
}
.mega-menu-item.active {
  opacity: 1;
  transition: opacity 0.3s ease, max-height 0.3s ease, height 0.3s ease;
}

.header-menu .mega-menu-item .content-wrapper {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

.mega-menu-item .page-section:first-child {
  padding-top: var(--header-bottom, 0px);
}

.header-nav-item--mega-menu a.mega-menu-link {
  display: inline-flex;
  align-items: center;
  gap: var(--trigger-icon-gap);
  position: relative;
}
.header-nav-item:not(:has(svg)) > a[href*="#wm-mega"] {
  margin-right: calc(
    var(--trigger-icon-size, 15px) + var(--trigger-icon-gap, 4px)
  );
}
.mega-menu-link > svg {
  width: var(--trigger-icon-size);
  height: var(--trigger-icon-size);
  transition: transform 0.3s ease;
  animation: wmMoveUpFadeIn 0.3s ease-out;
}

@keyframes wmMoveUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-nav-item--mega-menu.mega-menu--active a.mega-menu-link svg {
  transform: translate(0px, 2px);
}

/*Overlay*/
.mega-menu-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: var(--background-overlay-color);
  backdrop-filter: blur(var(--background-overlay-blur));
  z-index: 9;
  animation: wmFadeOut 0.3s ease-out forwards;
}
.wm-mega-menu--open .mega-menu-page-overlay{
  animation: wmFadeIn 0.3s ease-out forwards;
}

@keyframes wmFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@keyframes wmFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Swing animation */
#header:has(.wm-mega-menu[data-open-animation="swing"]) {
  perspective: 1000px;
  transform-style: preserve-3d;
}
.wm-mega-menu[data-open-animation="swing"] {
  transform-origin: center top;
  backface-visibility: hidden;
}

/*Mobile Folders*/
.mobile-mega-menu-folder .header-menu-nav-folder-content {
  flex-grow: 0;
}

.site-wrapper
  .header-menu:not(:has([data-folder="root"].header-menu-nav-folder--open))
  .header-menu-bg {
  /* transition: background-color 0.3s ease 0.3s; */
  will-change: background-color;
}


/*Inset Layout*/
.wm-mega-menu[data-layout="inset"] .mega-menu-item .page-section:first-child {
  padding-top: 0px !important;
}
.wm-mega-menu[data-layout="inset"] .mega-menu-item {
  width: var(--mega-menu-max-width);
  max-height: calc(var(--mega-menu-max-height) - var(--header-bottom));
}


/*Arrow*/
.wm-mega-menu[data-layout="inset"] .mega-menu-arrow {
  display: none;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  opacity: 0;
  transform: rotate(45deg);
  background-color: var(--mega-menu-arrow-color, white);
}
.wm-mega-menu[data-layout="inset"].open .mega-menu-arrow {
  display: block;
}
